.filter-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.filter-btn {
    padding: 10px 15px;
    background: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
}

.filter-btn:hover {
    background: var(--color-blue);
    box-shadow: 0;
}

.filter-btn.active {
    background-color: #ffd912;
    box-shadow: 0 0 14px #dda11e, inset 0px 0px 9px 0px #fed45f;
    border-bottom: 3px solid #e0a246;
    color: var(--color-footer);
}

.cards-container {
    display: flex;
    flex-direction: column;
}

.card {
    transition: all 0.5s ease, transform 0.3s ease;
}

.card.inactive {
    opacity: 1;
    order: 1;
}

.other-divider {
    padding: 20px 0;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
}


@media screen and (max-width: 1300px) {
    .filter-controls {
        margin-top: 100px;
    }
}

@media screen and (max-width: 800px) {
    .filter-controls {
        margin-top: 30px;

    }

    .other-divider {
        padding: 0px 0 20px 20px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 500px) {
    .other-divider {
        font-size: 20px;
    }

    .filter-btn {
        padding: 5px 10px;
        font-size: 14px;
    }

    .filter-controls {
        margin-top: 50px;
    }
}

@media screen and (max-width: 337px) {
    .filter-controls {
        margin-top: 30px;
    }
}